<div>Gallery</div>
<div>
    <img src="~/Content/Images/book1.jpg" />
    <img src="~/Content/Images/book2.jpg" />
    <img src="~/Content/Images/book3.jpg" />
    <img src="~/Content/Images/book4.jpg" />
</div>